name: testing basic workflows
on: push
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - run: >
          os="$(cat /etc/os-release | head -n1 | cut -d'"' -f2)"
          echo "This job is running on $os"
